{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NFL.com Player Search</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link rel="stylesheet" href="{% static "app/main.css" %}">
    </head>
    <body>
        <div class="container">
        <div class="row">
            <div class="col s2">
                <br>
                <h6>Search NFL players by name</h6>
                <form class="" action="" method="">
                    <input type="text" name="player_name" value="" placeholder="Full Name">
                    <p>
                        <input name="player_type" type="radio" id="test1" value="current" CHECKED/>
                        <label for="test1">Current</label>
                        <input name="player_type" type="radio" id="test2" value="historical"/>
                        <label for="test2">Historical</label>
                    </p>
                    <p>
                        <input class="btn waves-effect waves-light" type="submit" value="Search">
                    </p>
                </form>
            </div>
            <div class="col s1"></div>
            <div class="col s9">
                <br>
                <h1>{{ no_player }}</h1>
                <h1>{{ player_name }}</h1>

                {% autoescape off %}
                {{ player_bio }}
                <div class="striped">
                    {{ stats }}
                </div>
                {% endautoescape %}
            </div>
        </div>
    </div>
    </body>
</html>
